.pagination-border {
  border: 1.8px solid var(--sub-title);
  padding: 1.4rem;
}

.num_pagination {
  color: var(--sub-title);
}

.appointment {
  margin-top: 12rem;
}

.btn-sub {
  border: 0;
  background: var(--sub-title);
  padding: 0.7rem 2rem;
  transition: all 0.2s ease;
}

.btn-sub:hover {
  background: #15516b;
}

/* DATE */
label {
  color: #555;
  font-weight: 500;
  font-size: 14px;
}

input {
  font-size: 14px !important;
}

.active {
  background-color: var(--sub-title) !important;
  border: 0 !important;
}

select {
  box-shadow: none !important;
  outline: none !important;
}
