/* login */
.login_nav {
  background: transparent !important;
}

input {
  outline: none !important;
}

.login {
  background-image: url(../img/form.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login header {
  background: transparent !important;
}

.login header nav {
  background: transparent !important;
}

.login_ {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
}

.login_::placeholder {
  font-size: 14px;
}

.login_ {
  font-size: 14px;
}

.loginright {
  margin: 30px;
  padding: 20px;
  border: 10px solid #216d57;
  border-image: linear-gradient(45deg, #216d57, rgb(19, 175, 196)) 1;
  /* border-radius: 20px; */
  /* background-color: white; */
  box-shadow: 7px 15px 18px -9px rgba(10, 82, 37, 0.72);
  -webkit-box-shadow: 7px 15px 18px -9px rgba(10, 82, 37, 0.72);
  -moz-box-shadow: 7px 15px 18px -9px rgba(10, 82, 37, 0.72);
}

.left {
  padding: 30px;
}

.left h1 {
  font-weight: bolder;
  color: #113e51;
}

.loginright {
  width: 40%;
}

.loginrole {
  display: flex;
  flex-direction: row;
}

.right h3 {
  color: #00a7b5;
  font-weight: bolder;
}

#email {
  margin-top: 10px;
  width: 100%;
  padding-left: 20px;
  height: 45px;
  border-radius: 5px;
}

.input_default {
  width: 100%;
  padding-left: 20px;
  height: 45px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
}

#password {
  width: 100%;
  padding-left: 20px;
  height: 45px;
  border-radius: 5px;
}

#role1,
#role2 {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

#role1,
#role2 {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.right p {
  text-align: center;
}

.right img {
  align-items: center;
  width: 40px;
  padding: 5px;
}
.btnemail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.right button {
  border-radius: 5px;
  border: 0;
  align-content: center;
}
