html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

ul {
  margin: 0 !important;
  padding-left: 1.4rem !important;
}

li {
  list-style: none !important;
}

p {
  font-size: 14px;
}

header {
  background: #fff;
}

nav {
  height: 4.6rem;
  background: #fff !important;
  z-index: 10;
}

nav div {
  height: 100%;
}

main {
  padding: 0rem 3rem;
}

.logo {
  height: 3.4rem;
}

/* MENU */
.menu {
  display: none;
  cursor: pointer;
  height: 2rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3.2px;
  background-color: #542781;
  transition: 0.4s;
  border-radius: 4px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

.font-style {
  font-family: "Playfair Display", serif !important;
}

.violet_color {
  color: #161853 !important;
}

.green_gray_color {
  color: #00a7b5 !important;
}

.btn-outline-primary {
  border: 1.8px solid #542781 !important;
  color: #542781 !important;
}

.btn-outline-primary:hover {
  background: #542781 !important;
  color: #fff !important;
}

/* HERO  */

.hero {
  height: 45rem;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-main {
  background-color: #542781 !important;
  padding: 0.7rem 2rem !important;
}

.search {
  background-color: #fff;
}

.hero_form {
  margin-right: 1rem !important;
  margin-left: 0rem !important;
  row-gap: 1.4rem;
}

.hero_input {
  background-color: transparent !important;
}

.img-sm-icons {
  height: 1.6rem;
}

ion-icon {
  color: #999;
  font-size: 1.6rem;
}

input {
  box-shadow: none !important;
}

/* SECTION 2 */
.section-2 {
  height: auto;
  padding-top: 7rem;
}

.sub-title {
  font-size: 48px;
}

.img-icons {
  width: 2.4rem !important;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card-title {
  color: #161853 !important;
}

.border_top_guide {
  border-top: 4px solid #f9b31d !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.hero_title_mobile {
  display: none;
}

.sub-title_mobile {
  display: none;
}

/* FOOTER */
footer {
  background: #161853;
}

.footer_links {
  display: flex;
  justify-content: end;
}

/* .footer_links {
    justify-content: start !important;
  } */

@media (max-width: 991.98px) {
  .footer_links {
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 768.98px) {
  #navigation_list {
    display: none !important;
  }

  .menu {
    display: grid;
    align-items: center;
  }

  .hero_btn {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .hero_title {
    text-align: center;
  }

  .hero_title br {
    display: none;
  }

  .hero_paragraph br {
    display: none;
  }

  .hero_paragraph {
    text-align: center;
  }

  .hero_btn {
    display: flex;
    justify-content: center;
  }

  .span_text {
    text-align: center;
  }

  .sub-title {
    text-align: center;
  }

  .sub-title br {
    display: none;
  }
}

@media (max-width: 425.98px) {
  main {
    padding: 0rem 1rem !important;
  }
}
